doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Туры на воздушном шаре
    link(rel="stylesheet", href="main.min.css")
  body
    .wrapper: main.wrapper-content
      section.hero
        header.header 
          a.logo(href="#"): img.logo__img(src="#" alt="not found")
        h1.hero__title Туры на воздушном шаре 
        h2.hero__title Hello